@media (min-width: 1440px) {
    
    .header-container {
        padding-right: 100px;
    }
    .pc-2 {
        margin: 0 auto;
    }
    .mobile-nav {
        display: none;
      }
    
}

@media (max-width: 1440px) {

    /* .hydrated {
        visibility: inherit;
    } */
    html {
        font-size: 47%;
        
    }
    .mobile-nav {
        display: none;
      }
    .header-2 {
        /* height: 83vh; */
        height: 93vh;

    }
    .header-container {
        position: absolute;
        top: 35%;
        left: 50%;
        padding-right: 55px;
    }
    .school-content {
        display: grid;
        margin: 0 auto;
        margin-top: 4.8rem;
        width: 150rem;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 6.2rem;
    }

    .third-p {
        row-gap: 1.9rem;
    }
    .third-p h3 {
        margin-top: -29px;
    }
    .pc-2 {
        width: 150rem;
        margin: 0 auto;
    }

    .parent-content-1 {
       
        margin: 0 auto;
       
    }
    .classes {
        height: 130rem;
    }
    .classes-content {
        display: grid;
        margin: 0 auto;
        margin-top: 4.8rem;
        width: 150rem;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .school-data {
        width: 150rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .teachers {
        height: 750px;
    }
    .teacher-content {
        display: grid;
        width: 130rem;
        margin: 0 auto;
        margin-top: 3.2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 6.2rem;
    }
    .teacher-content img {
        margin-left: 1rem;
    }

    .row {
        width: 130rem;
        margin: 0 auto;
        column-gap: 60px;
    }
    .join-form {
        width: 63rem;
        padding-left: 0.4rem;
    }
    .contact-form {
        height: 61rem;
    }
    .map {
        padding-top: 8.4rem;
        margin-left: 0.4rem;
        width: 100%;
        height: 100%;
    }
    footer, .copyright {
        width: 130rem;
        margin: 0 auto;
    }
}


@media (max-width: 1024px) {
    .mobile-nav {
        display: none;
      }
    .header-2 {
        height: 92vh;
    }
    .header-container {
        position: absolute;
        top: 27%;
        left: 47%;
    }
    .school-content {
        width: 110rem;
    }

    
    .pc-2 {
        width: 110rem;
    }
    .parent-content-1 {
        display: flex;
        justify-content: space-around;
        margin-left: 4.8rem;
        margin-right: -0.2rem;
        line-height: 1.5;
    }
    .classes {
        height: 125rem;
    }
    .classes-content {
        width: 110rem;
    }
    .first-class {
        display: grid;
        grid-template-rows: 0fr 0.75fr;
    }
    .school-data {
        width: 110rem;
    }
    .teacher-content {
        width: 110rem;
    }

    .teacher-content img {
        width: 125px;
        height: 125px;
        margin-left: 0rem;
    }

    .row {
        width: 110rem;
    }
    .join-form {
        width: 55rem;
    }
    .contact-form {
        margin-left: 0;
    }

    footer, .copyright {
        width: 110rem;
    }

    @media (max-width: 860px) {
        .mobile-nav {
            display: none;
          }
        .header-2 {
            height: 97vh;

        }
        .header-container {
            position: absolute;
            top: 14%;
            left: 60%;
        }
        .school-content {
            display: flex;
            flex-direction: column;
            width: 80rem;
        }
        .first-p {
            margin-bottom: 10.6rem;
        }
        .second-p {
            margin-bottom: 10.6rem;
        }
        .third-p h3 {
            margin-top: -51px;
        }
        .third-p p {
            margin-top: -3.4rem;
        }
        .pc-2 {
            width: 80rem;
            display: flex;
            flex-direction: column;
        }
        .parent-1 {
            margin-top: 16px;
        }
        .parent-content-1 {
            flex-direction: column;
            margin-left: -0.2rem;
            margin-top: 16px;
        }
        .row {
            width: 97em;
        }
        .join-form {
            width: 47rem;
        }
        footer, .copyright {
            width: 100rem;
        }
        .classes {
            height: 475rem;
        }
        .classes-content {
            display: flex;
            flex-direction: column;
            width: 50rem;
            row-gap: 50px;
        }
        .first-class {
            grid-template-rows: 1fr 220px;
        }
        .second-class {
            display: grid;
            grid-template-rows: 1fr 220px;
        }
        .third-class {
            display: grid;
            grid-template-rows: 1fr 220px;

        }
        .forth-class {
            display: grid;
            grid-template-rows: 1fr 220px;

        }
        .school-data {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        .teachers {
            height: 285rem;
        }
        .teacher-content {
            width: 50rem;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
        }
        .teacher-content {
            width: 50rem;
        }
        .first-teacher {
            padding-right: 25%;
            padding-bottom: 35px;
            padding-left: 28%;
            padding-top: 34px;
        }
        .teacher-content img {
            width: 125px;
            height: 125px;
            margin-left: 3rem;
        }
        .row {
            display: flex;
            flex-direction: column;
        }
        .join-form {
            width: 50rem;
            align-self: center;
        }
        .map {
            padding-top: 8.4rem;
            margin-left: 9.4rem;
            width: 58rem;
            height: 64rem;
            align-self: center;
        }
        footer,
        .copyright {
            width: 90%;
        }
    }
    @media (max-width:768px) {


        .header {
            position: relative;
        }

        .nav-bar {
            position: fixed;
            top: 0%;
            left: 100%;
            width: 100%;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.93);
        
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            transition: all 0.3s ease-in-out;
        
            /* 1. Opacity 0 */
            opacity: 0;
        
            /* 2. Set Mouse and keyboard events to none */
            pointer-events: none;
        
            /* 3. Hide elements from screen reader */
            visibility: hidden;
        
            z-index: 10;
          }
          .mobile-nav {
            display: block;
          }
        
          
        .open-nav .nav-bar {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            left: 0%;
        }

        .open-nav button {
            position: fixed;
            right: 0;
            z-index: 99999;
          }
          .open-nav ion-icon[name = "close-outline"] {
            display: block;
            z-index: 99999;
        
          }
          .open-nav ion-icon[name = "menu-outline"] {
            display: none;
            z-index: 99999;
        
          }

          .nav-bar .nav {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
            gap: 2.4rem;
          }
          
        .header-container {
            position: absolute;
            top: 5%;
            left: 65%;
        }
        .school-data {
            width: 50rem;
        }
        footer, .copyright {
            width: 89%;
            grid-template-columns: repeat(2,1fr);
            row-gap: 20px;
            justify-items: center;
        }
        
        
    }

    @media (max-width:530px) {
        .header-container {
            left: 33%;
        }
        .school-content {
            width: 43rem;
        }

        .third-p h3 {
            margin-top: -32px;
        }

        .third-p p {
            margin-top: -1.4rem;
        }
        .pc-2 .pc-2-img {
            width: 339px;
            height: 327px;
}
        .pc-2 {
            width: 43rem;
        }
        .classes {
            height: 448rem;
        }
        .classes-content {
            width: 43rem;
        }
        .school-data {
            width: 43rem;
        }
        .teacher-content {
            width: 43rem;
        }
        .row {
            width: 43em;
        }
        .join-form {
            width: 43rem;
        }
        
        .map {
            padding-top: 8.4rem;
            margin-left: 8.4rem;
            width: 51rem;
            height: 64rem;
            align-self: center;
        }

        footer, .copyright {
            flex-direction: column;
            margin: 0 auto;
            width: 150px;
        }
        
    }



    /* .parent-content img {
        width: 392px;
        height: 357px;
        justify-self: start;
    }

    .parent-content-1 {
        margin-left: 3.8rem;
        margin-right: -0.2rem;
    } */

    /* .pc-2 {
        margin: 90px 20px;
    }
    .classes {
        height: 126rem;
    }
    .school-data {
        margin-left: 2.8rem;
    }
    .row {
        max-width: 117rem;
        margin-left: -43px;

    }
    .teacher-content {
        width: 130rem;
    }
    footer, .copyright {
        width: 130rem;
        margin: 0 auto;
    } */
}


/* @media (min-width: 75em) {
    .header-2 {
        height: 96vh;
    }
    .header-container {
        top: 46%;
        left: 51%;
    }
    .header-title {
        font-size: 62px;
    }
    .header-description {
        font-size: 32px;
    }
    .btn {
        font-size: 32px;
    }
}

@media (max-width: 75em) {
    html {
        font-size: 47%;
    }
    .header-container {
        position: absolute;
        top: 20%;
        left: 59%;
        padding-right: 10rem;
    }

    .school-content {
        max-width: 120rem;
    }
    .pc-2 {
        margin: 90px 33px;
    }
    .classes {
        height: 122rem;
    }
    .classes-content {
        display: grid;
        margin: 0 auto;
        margin-top: 4.8rem;
        max-width: 120rem;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 1fr 33rem;
    }
    .school-data {
        max-width: 120rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 6.8rem;
    }
    .teacher-content img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin-left: 3rem;
    }

    .teacher-content {
        width: 120rem;
    }
    .teacher-content img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin-left: 1rem;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        max-width: 120rem;
    }

    .contact-form {
        padding: 40px 50px 50px;
        background: #fff;
        margin-left: 0.2rem;
        height: 61rem;
    }
    .photo-address img {
        padding-top: 8.4rem;
        height: 523px;
        width: 390px;
    }

    footer, .copyright {
        width: 120rem;
        margin: 0px auto;
    }
}

@media (max-width: 768px) {

    .header-container {
        position: absolute;
        top: 6%;
        left: 66%;
        padding-right: 10rem;
    }
    .school-data {
        margin-left: 2.8rem;
    }
    .photo-address img {
        padding-top: 8.4rem;
        height: 523px;
        width: 408px;
    }
    .contact-form {
        margin-left: -3.8rem;
    }
    .join-form {
        width: 68rem;
    }
} */