@media (min-width: 1440px) {
    
    .header-container {
        padding-right: 100px;
    }
    .pc-2 {
        margin: 0 auto;
    }
    
}

@media (max-width: 1440px) {

    
    html {
        font-size: 47%;
        /* width: 88%; */
    }
    .header-2 {
        /* height: 83vh; */
        height: 93vh;

    }
    .header-container {
        position: absolute;
        top: 35%;
        left: 50%;
        padding-right: 55px;
    }
    .school-content {
        display: grid;
        margin: 0 auto;
        margin-top: 4.8rem;
        width: 150rem;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 6.2rem;
        row-gap: 1.6rem;
    }
    .pc-2 {
        width: 150rem;
        margin: 0 auto;
    }

    .parent-content-1 {
       
        margin: 0 auto;
       
    }
    .classes {
        height: 135rem;
    }
    .classes-content {
        display: grid;
        margin: 0 auto;
        margin-top: 4.8rem;
        width: 150rem;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 1fr 32rem;
    }
    .school-data {
        width: 150rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .teachers {
        height: 750px;
    }
    .teacher-content {
        display: grid;
        width: 130rem;
        margin: 0 auto;
        margin-top: 3.2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 6.2rem;
    }
    .teacher-content img {
        margin-left: 1rem;
    }

    .row {
        width: 130rem;
        margin: 0 auto;
        column-gap: 60px;
    }
    .join-form {
        width: 63rem;
        padding-left: 0.4rem;
    }
    .contact-form {
        height: 61rem;
    }
    .map {
        padding-top: 8.4rem;
        margin-left: 0.4rem;
        width: 100%;
        height: 100%;
    }
    footer, .copyright {
        width: 130rem;
        margin: 0 auto;
    }
}


@media (max-width: 1024px) {
    .header-2 {
        height: 92vh;
    }
    .header-container {
        position: absolute;
        top: 27%;
        left: 47%;
    }
    .school-content {
        width: 110rem;
    }
    .pc-2 {
        width: 110rem;
    }
    .parent-content-1 {
        display: flex;
        justify-content: space-around;
        margin-left: 4.8rem;
        margin-right: -0.2rem;
        line-height: 1.5;
    }
    .classes {
        height: 125rem;
    }
    .classes-content {
        width: 110rem;
    }
    .school-data {
        width: 110rem;
    }
    .teacher-content {
        width: 110rem;
    }

    .teacher-content img {
        width: 125px;
        height: 125px;
        margin-left: 0rem;
    }

    .row {
        width: 110rem;
    }
    .join-form {
        width: 55rem;
    }
    .contact-form {
        margin-left: 0;
    }

    footer, .copyright {
        width: 110rem;
    }

    @media (max-width: 860px) {
        .header-2 {
            height: 97vh;

        }
        .header-container {
            position: absolute;
            top: 14%;
            left: 60%;
        }
        .school-content {
            display: flex;
            flex-direction: column;
            width: 80rem;
        }
        .pc-2 {
            width: 80rem;
            display: flex;
            flex-direction: column;
        }
        .parent-1 {
            margin-top: 16px;
        }
        .parent-content-1 {
            flex-direction: column;
            margin-left: -0.2rem;
            margin-top: 16px;
        }
    }
    /* .parent-content img {
        width: 392px;
        height: 357px;
        justify-self: start;
    }

    .parent-content-1 {
        margin-left: 3.8rem;
        margin-right: -0.2rem;
    } */

    /* .pc-2 {
        margin: 90px 20px;
    }
    .classes {
        height: 126rem;
    }
    .school-data {
        margin-left: 2.8rem;
    }
    .row {
        max-width: 117rem;
        margin-left: -43px;

    }
    .teacher-content {
        width: 130rem;
    }
    footer, .copyright {
        width: 130rem;
        margin: 0 auto;
    } */
}


/* @media (min-width: 75em) {
    .header-2 {
        height: 96vh;
    }
    .header-container {
        top: 46%;
        left: 51%;
    }
    .header-title {
        font-size: 62px;
    }
    .header-description {
        font-size: 32px;
    }
    .btn {
        font-size: 32px;
    }
}

@media (max-width: 75em) {
    html {
        font-size: 47%;
    }
    .header-container {
        position: absolute;
        top: 20%;
        left: 59%;
        padding-right: 10rem;
    }

    .school-content {
        max-width: 120rem;
    }
    .pc-2 {
        margin: 90px 33px;
    }
    .classes {
        height: 122rem;
    }
    .classes-content {
        display: grid;
        margin: 0 auto;
        margin-top: 4.8rem;
        max-width: 120rem;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 1fr 33rem;
    }
    .school-data {
        max-width: 120rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 6.8rem;
    }
    .teacher-content img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin-left: 3rem;
    }

    .teacher-content {
        width: 120rem;
    }
    .teacher-content img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin-left: 1rem;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        max-width: 120rem;
    }

    .contact-form {
        padding: 40px 50px 50px;
        background: #fff;
        margin-left: 0.2rem;
        height: 61rem;
    }
    .photo-address img {
        padding-top: 8.4rem;
        height: 523px;
        width: 390px;
    }

    footer, .copyright {
        width: 120rem;
        margin: 0px auto;
    }
}

@media (max-width: 768px) {

    .header-container {
        position: absolute;
        top: 6%;
        left: 66%;
        padding-right: 10rem;
    }
    .school-data {
        margin-left: 2.8rem;
    }
    .photo-address img {
        padding-top: 8.4rem;
        height: 523px;
        width: 408px;
    }
    .contact-form {
        margin-left: -3.8rem;
    }
    .join-form {
        width: 68rem;
    }
} */